[build]
builder = "nixpacks"

[deploy]
startCommand = "java -jar -Dserver.port=$PORT -Dspring.profiles.active=prod target/*.jar"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
